@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: auto;
    height: 240px;
    display: flex;
    box-shadow: 0 0 5px 2px hsl(214, 17%, 51%);
}
.hero {
    width: 280px;
    height: 100%;
    position: relative;
    border-radius: 10px;
}
.hero img{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    border-radius: 10px 0px 0px 10px;
}
.content {
    width: 420px;
    height: auto;
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
    border-radius: 0px 10px 10px 0px;
}
article h3{
    color: hsl(217, 19%, 35%);
}
article p{
    position: relative;
    top: 8px;
    font-size: 11px;
    color: hsl(214, 17%, 51%);
}

.person {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user{
    display: flex;
    height: auto;
    width: 200px;
}
.user-ava{
    width: 30px;
    height: 30px;
    position: relative;
}
.user-ava img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}
.user-name .name{
    font-weight: 600;
    font-size: 11px;
    color: hsl(217, 19%, 35%);
}
.user-name .date{
    font-size: 9px;
    color: hsl(212, 23%, 69%);
}
.share {
    position: absolute;
    width: 200px;
    height: 45px;
    padding: 10px 20px;
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(217, 19%, 35%);
    border-radius: 5px;
    bottom: 80px;
    right: -50px;
}
.triangle {
    position: absolute;
    left: 90px;
    top: 45px;
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 13px solid hsl(217, 19%, 35%);
}
.share p{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 5px;
    color: #fff;
}
.share img{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.share-btn {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: hsl(210, 46%, 95%);
}
.share-btn i{
    color: hsl(217, 19%, 35%);
}
.share-active {
    display: flex;
}
.active-btn {
    background-color: hsl(217, 19%, 35%);  
}
.active-btn i{
    color: #fff;
}

@media screen and (max-width: 800px){
    .container {
        flex-direction: column;
        height: auto;
        width: 340px;
    }
    .hero {
        height: 220px;
        width: 100%;
    }
    .hero img{
        border-radius: 10px 10px 0px 0px;
    }
    .content {
        width: auto;
        height: 320px;
        border-radius: 0px 0px 10px 10px;
    }
    article p{
        font-size: 14px;
    }
    .share {
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 60px;
        justify-content: flex-start;
    }
    .share img{
        margin-left: 30px;
    }
    .triangle {
        display: none;
    }
    .active-btn {
        position: relative;
        z-index: 55;
        top: 15px;
        background-color: hsl(212, 23%, 69%);
    }
}